#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

module = THINGSBOARD_IOT
module-prompt = "Thingsboard IoT"
orsource "../Kconfig.cloud_$(CLOUD_SERVICE_SELECTOR)"

menuconfig $(module)
	bool
	prompt "Thingsboard IoT"

if THINGSBOARD_IOT

config THINGSBOARD_IOT_HOSTNAME
	string "Thingsboard IoT hostname"
	help
	  Hostname to Thingsboard IoT instance.

config THINGSBOARD_IOT_DEVICE_ID_MAX_LEN
	int "Maximum length of device id"
	default 30
	help
	  Maximum length for device provision secret

config THINGSBOARD_IOT_DEVICE_TOKEN
	string "Thingsboard IoT device token"
	help
	  Thingsboard IoT device token.

config THINGSBOARD_IOT_DEVICE_TOKEN_MAX_LEN
	int "Maximum length of device token"
	default 30
	help
	   Maximum length for device token.

config THINGSBOARD_IOT_DEVICE_PROVISION_KEY
	string "Thingsboard IoT provision key"
	help
	  Thingsboard IoT provision secret. Define only if
	  device token is not defined.

config THINGSBOARD_IOT_DEVICE_PROVISION_KEY_MAX_LEN
	int "Maximum length of device provision key"
	default 30
	help
	   Maximum size for device provision key

config THINGSBOARD_IOT_DEVICE_PROVISION_SECRET
	string "Thingsboard IoT provision secret"
	help
	  Thingsboard IoT provision secret. Define only if
	  device token is not defined.

config THINGSBOARD_IOT_DEVICE_PROVISION_SECRET_MAX_LEN
	int "Maximum length of device provision secret"
	default 30
	help	
	   Maximum length for device provision secret

config THINGSBOARD_IOT_COAP_URI_PATH_MAX_LEN
	int "Maximum length of coap uri path"
	default 50
	help
	  Here is an example uri path for the coap,
	  "/api/v1/{device_token}/telemetry" 

module=THINGSBOARD_IOT
module-dep=LOG
module-str=Thingsboard IoT
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # THINGSBOARD_IOT
