#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

module = THINGSBOARD_IOT
module-prompt = "Thingsboard IoT"
orsource "../Kconfig.cloud_$(CLOUD_SERVICE_SELECTOR)"

menuconfig $(module)
	bool
	prompt "Thingsboard IoT"

if THINGSBOARD_IOT

config THINGSBOARD_IOT_DEVICE_ID
	string "Device ID"
	help
	  Device ID to be used when connecting to IoT hub and optionally DPS.
	  Providing a device ID can also be done at run-time using the appropriate APIs.

config THINGSBOARD_IOT_HOSTNAME
	string "Thingsboard IoT hostname"
	help
	  Hostname to Thingsboard IoT instance.

config THINGSBOARD_IOT_DEVICE_TOKEN
	string "Thingsboard IoT device token"
	help
	  Thingsboard IoT device token.

config THINGSBOARD_IOT_DEVICE_TOKEN_SIZE
	int "Thingsboard IoT device token size"
	default 30
	help
	  Define this size if you are not defining the token itself
	  and the default size is not enough for a token. 

config THINGSBOARD_IOT_DEVICE_PROVISION_KEY
	string "Thingsboard IoT provision key"
	help
	  Thingsboard IoT provision secret. Define only if
	  device token is not defined.

config THINGSBOARD_IOT_DEVICE_PROVISION_SECRET
	string "Thingsboard IoT provision secret"
	help
	  Thingsboard IoT provision secret. Define only if
	  device token is not defined.

config THINGSBOARD_IOT_COAP_URI_PATH_LEN
	int "Lenght of the uri path of the coap resource"
	default 50
	help
	  Here is an example uri path for the coap,
	  "/api/v1/{device_token}/telemetry" 

module=THINGSBOARD_IOT
module-dep=LOG
module-str=Thingsboard IoT
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # THINGSBOARD_IOT
